header {
    background-color: #082b47;
    color: #7F4CAA;
    /* padding: 5px; */
    text-align: center;
    display: flex;
    /* align-items: center;  */
    /* justify-content: center;  */
}



#team-logo {
    height: 80px;
    float: left;
    margin-right: 10px;

}

.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin-bottom: 5%;
}

.card {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

footer {
    height: 2.5%;
    text-align: center;
    padding: 10px;
    background-color: #082b47;
}

footer button {
    padding: 10px 20px;
    background-color: #7F4CAA;
    color: 082b47;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


body {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 2.5px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
    color: #7F4CAA;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #7F4CAA;
    border-radius: 4px;
    box-sizing: border-box;
    color: #082b47;
}

input[type="submit"] {
    margin-top: 2rem;
    background-color: #fffecf;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    color: #7F4CAA;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #7F4CAA;
    color: #fffecf;
}


.custom-file-upload {
    margin-top: 10px;
}

.custom-file-upload button {
    background-color: #fffecf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #7F4CAA;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.custom-file-upload button:hover {
    background-color: #7F4CAA;
    color: #082b47;
}

.custom-file-upload #file-name {
    margin-left: 10px;
}

#file-name {
    color: #7F4CAA;
}

.mi-form { margin: 0 auto;
     width: 150px;
    }

button {
    background-color: #7F4CAA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fffecf;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    /* margin-top: 3%; */
    justify-content: center;
  }
  
 .add{
    justify-content: center; 
 }
  .mensaje-exito {
      color: #28a745; /* Color verde para éxito */
      background-color: #dff0d8;
      border-color: #d4edda;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid transparent;
      border-radius: 4px;
      text-align: center;
      justify-content: center; 
  }
  
  .mensaje-error {
      color: #dc3545; /* Color rojo para error */
      background-color: #f8d7da;
      border-color: #f5c6cb;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid transparent;
      border-radius: 4px;
      text-align: center;
  }
